<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">



    <title>index</title>
    <style>
        .forgetPass {
            background-color: #044d81;
            height: 100vh;
        }

        .forgetPass h2 {
            font-size: 30px;
            font-weight: bold;
            margin-top: 132px;
        }

        .ForgetPass-allignment {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        .Reset-btn {
            border: 1px solid #9dcb3b;
            background: #9dcb3b;
            color: #fff;
            text-transform: uppercase;
            border-radius: 25px;
            width: 95%;
            margin: 10px;
            padding: 10px;
            font-family: 'Leelawadee';
            font-size: 17px;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .custom-card {
            padding: 25px;
            border-radius: 30px;
            background: #fff;
            border: 2px solid #A00E27;
            box-shadow: 0 0 15px rgb(0 0 0 / 15%);
        }

        #contact-form input,
        #contact-form textarea {
            background: none;
            border: 0;
            border-bottom: 1px solid #9dcb3b;
            border-radius: 0;
            margin-top: 30px;
        }

        .signin {
            font-size: 18px;
            font-weight: bold;
            color: #dddddd;
            text-align: center;
        }

        .thanyou-text {
            font-size: 30px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 50px;
            color: #9dcb3b;
        }
    </style>
</head>

<body>

    <section class="forgetPass">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ForgetPass-allignment">
                        <div class="custom-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <img src="/img/logo.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div style="display: flex;justify-content: center;align-items: center;">
                                        <h2 class="thanyou-text">Your email has been verified. Thank you! </h2>
                                        <!-- Please click <a href="http://ment-go.herokuapp.com">here</a> to login</h2> -->

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>