<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <title>index</title>
    <style>
        .forgetPass {
            background-color: #044d81;
            height: 100vh;
        }

        .forgetPass h2 {
            font-size: 30px;
            font-weight: bold;
            margin-top: 132px;
        }

        .ForgetPass-allignment {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        .Reset-btn {
            border: 1px solid #9dcb3b;
            background: #9dcb3b;
            color: #fff;
            text-transform: uppercase;
            border-radius: 25px;
            width: 95%;
            margin: 10px;
            padding: 10px;
            font-family: 'Leelawadee';
            font-size: 17px;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .custom-card {
            padding: 25px;
            border-radius: 30px;
            background: #fff;
            border: 2px solid #A00E27;
            box-shadow: 0 0 15px rgb(0 0 0 / 15%);
        }

        #contact-form input,
        #contact-form textarea {
            background: none;
            border: 0;
            border-bottom: 1px solid #9dcb3b;
            border-radius: 0;
            margin-top: 30px;
        }

        .signin {
            font-size: 18px;
            font-weight: bold;
            color: #dddddd;
            text-align: center;
        }
    </style>
</head>

<body>

    <section class="forgetPass">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ForgetPass-allignment">
                        <div class="custom-card">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="/img/Layer2.png" alt="" class="img-fluid" />
                                </div>
                                <div class="col-md-6">
                                    <h2>FORGOT YOUR PASSWORD?</h2>
                                    <div>
                                        <form id="contact-form" name="contact-form" action="<%= token %>" method="POST">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="md-form mb-0">
                                                        <input type="password" required id="password" name="password"
                                                            class="form-control" minlength="8"
                                                            placeholder="New Password">
                                                    </div>
                                                    <div class="md-form mb-0">
                                                        <input type="password" required id="passwordConfirm"
                                                            name="passwordConfirm" class="form-control" minlength="8"
                                                            placeholder="Confirm Password">
                                                    </div>
                                                    <div>
                                                        <button type="submit" class="Reset-btn">RESET PASSWORD</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    var password = document.getElementById("password"),
        confirm_password = document.getElementById("passwordConfirm");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    function myFunction() {
        window.location.href = `${window.location.origin}/api/v1/users/resetSuccess`;
        return false;
    }
</script>

</html>